LLMOD_API_KEY=your_llmod_key_here
LLMOD_BASE_URL=https://api.llmod.ai/v1
LLMOD_CHAT_MODEL=4UHRUIN-gpt-5-mini
LLMOD_EMBEDDING_MODEL=4UHRUIN-text-embedding-3-small

PINECONE_API_KEY=your_pinecone_key_here
PINECONE_INDEX_NAME=medium-rag
